@import "../../../assets/styles/foundation/typography";

.text {
	line-height: 120%;
}

.text-weight {
	&_extra-bold {
		font-weight: 800;
	}

	&_bold {
		font-weight: 700;
	}

	&_semi-bold {
		font-weight: 600;
	}

	&_regular {
		font-weight: 400;
	}
}

.text-size {
	&_x-lg {
		font-size: $text-font-size-x-lg;
	}

	&_lg {
		font-size: $text-font-size-lg;
	}

	&_md {
		font-size: $text-font-size-md;
	}

	&_sm {
		font-size: $text-font-size-sm;
	}

	&_x-sm {
		font-size: $text-font-size-x-sm;
	}
}
