@import "../../../assets/styles/foundation/colors";

.sidebar {
	position: fixed;
	top: 20px;
	bottom: 20px;
	left: 20px;

	width: 250px;
	padding: 40px 0;

	background-color: #fff;
	border-radius: 24px;
	box-shadow: 0 6px 58px rgb(196 203 214 / 10.4%);

	&__link {
		position: relative;

		display: flex;
		align-items: center;

		padding: 11px 8px;

		font-weight: 600;
		color: $text-grey;

		border-radius: 10px;

		transition: 0.2s ease-in-out;
	}

	&__link:not(:last-child) {
		margin-bottom: 15px;
	}

	&__link:hover {
		background-color: $primary-50;
	}

	&__link::after {
		content: "";

		position: absolute;
		top: 0;
		right: -16px;

		width: 4px;
		height: 100%;

		opacity: 0;
		background-color: $primary-600;
		border-radius: 2px;

		transition: 0.2s ease-in-out;
	}

	&__link_active {
		font-weight: 800;
		color: $primary-600;

		background-color: $primary-50;
	}

	&__link_active svg {
		fill: $primary-600;
	}

	&__link_active::after {
		opacity: 1;
	}
}
