.modal {
	position: fixed;
	z-index: 100;
	top: 0;
	right: 0;
	left: 0;

	overflow: auto;
	display: flex;
	align-items: center;

	height: 100vh;
	padding: 50px;

	&__overlay {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		background-color: #2155a329;
	}

	&__close {
		position: absolute;
		top: 30px;
		right: 30px;

		background-color: #f4f9fd;
	}

	&__content {
		position: relative;

		width: 100%;
		max-width: 500px;
		margin: auto;
		padding: 60px;

		background: #fff;
		border-radius: 24px;
		box-shadow: 0 6px 58px rgb(121 145 173 / 19.6%);
	}
}
