.user-card {
	display: flex;
	flex-direction: column;
	align-items: center;

	height: 100%;
	min-height: 200px;
	padding: 20px 25px;

	background-color: #fff;
	border-radius: 24px;
	box-shadow: 0 6px 58px rgb(196 203 214 / 10.4%);
}
