@import "../../../assets/styles/foundation/typography";

.title {
	font-weight: 700;
	line-height: 110%;

	&_x-lg {
		font-size: $title-font-size-x-lg;
	}

	&_lg {
		font-size: $title-font-size-lg;
	}

	&_x-md {
		font-size: $title-font-size-x-md;
	}

	&_md {
		font-size: $title-font-size-md;
	}

	&_sm {
		font-size: $title-font-size-sm;
	}

	&_x-sm {
		font-size: $title-font-size-x-sm;
	}
}
