@import "../../../assets/styles/foundation/colors";
@import "../../../assets/styles/foundation/typography";

.input {
	&__container {
		position: relative;
	}

	&__field {
		width: 100%;
		min-width: 0;

		color: $text-primary;

		transition: 0.1s ease-in-out;
	}

	&__field::placeholder {
		color: $text-grey;
	}

	&__field_sm {
		height: 28px;

		font-size: $text-font-size-x-sm;
	}

	&__field_md {
		height: 38px;

		font-size: $text-font-size-sm;
	}

	&__field_lg {
		height: 48px;

		font-size: $text-font-size-md;
	}

	&__field_outlined {
		background: #fff;
		border: 1px solid $control-grey;
		border-radius: 14px;
		box-shadow: 0 1px 2px rgb(184 200 224 / 22.2%);
	}

	&__field_outlined:focus:not(&__field_error) {
		border-color: $primary-600;
		box-shadow: 0 0 0 3px rgb(63 140 255 / 12%);
	}

	&__field_outlined.input__field_sm {
		padding: 0 10px;
	}

	&__field_outlined.input__field_md {
		padding: 0 14px;
	}

	&__field_outlined.input__field_lg {
		padding: 0 18px;
	}

	&__field_error {
		border-color: #f6515f;
		box-shadow: 0 0 0 3px rgb(245 81 94 / 12%);
	}

	&__field_disabled {
		pointer-events: none;

		opacity: 0.5;
	}
}
