@import "../../../assets/styles/foundation/colors";

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;

	&__profile {
		font-weight: 700;
	}
}

.drop-down {
	position: relative;

	&__menu {
		pointer-events: none;

		position: absolute;
		z-index: 50;
		top: 100%;
		left: 0;
		transform: translateY(15px);

		width: 100%;
		padding: 8px;

		opacity: 0;
		background-color: #fff;
		border-radius: 14px;
		box-shadow: 0 6px 58px rgb(121 145 173 / 19.6%);

		transition: 0.2s ease-in-out;
	}

	&_active &__menu {
		pointer-events: initial;

		transform: translateY(5px);

		opacity: 1;
	}
}

.log-out {
	transition: 0.1s ease-in-out;

	&:hover {
		background-color: rgb(245 81 94 / 10%);
	}

	& svg path {
		stroke: $error-400;
		stroke-width: 2px;
	}
}
