@import "../../../assets/styles/foundation/colors";

.page {
	min-height: 100vh;
	padding: 20px;

	background-color: $bg-color;
}

.content {
	flex: 1 1 auto;

	min-height: calc(100vh - 40px);
	padding: 0 20px 0 280px;
}

.main {
	margin-top: 50px;
}
