.table-buttons {
	pointer-events: none;

	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	transform: translateY(-20px);

	display: flex;
	align-items: center;
	justify-content: flex-end;

	width: max-content;
	padding: 0 50px;

	opacity: 0;

	transition: 0.2s ease-in-out;

	&__btn svg {
		width: 100%;
		height: 100%;
	}
}

.table__body-tr:hover .table-buttons {
	pointer-events: initial;

	transform: translateY(0);

	opacity: 1;
}
