@import "../../../assets/styles/foundation/colors";

.sign-in {
	&__wrapper {
		height: 100%;
		min-height: calc(100vh - 40px);
	}

	&__hero {
		display: flex;
		flex: 0 0 50%;
		flex-direction: column;
		align-self: stretch;
		justify-content: center;

		padding: 60px 90px;

		background-color: $primary-600;
		border-top-left-radius: 24px;
		border-bottom-left-radius: 24px;
	}

	&__form {
		display: flex;
		flex: 0 0 50%;
		flex-direction: column;
		align-self: stretch;
		justify-content: center;

		padding: 110px 130px;

		background-color: #fff;
		border-top-right-radius: 24px;
		border-bottom-right-radius: 24px;
		box-shadow: 0 6px 58px rgb(196 203 214 / 10.4%);
	}
}

.get-me-spinner {
	position: fixed;
	z-index: 10;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	background-color: #fff;

	&__loader {
		transform: rotateZ(45deg);

		display: block;

		width: 48px;
		height: 48px;

		color: $analogous-200;

		perspective: 1000px;
		border-radius: 50%;
	}

	&__loader::before,
	&__loader::after {
		content: "";

		position: absolute;
		top: 0;
		left: 0;
		transform: rotateX(70deg);

		display: block;

		width: inherit;
		height: inherit;

		border-radius: 50%;

		animation: 1s spin linear infinite;
	}

	&__loader::after {
		transform: rotateY(70deg);

		color: $primary-600;

		animation-delay: 0.4s;
	}
}

@keyframes rotate {
	0% {
		transform: translate(-50%, -50%) rotateZ(0deg);
	}

	100% {
		transform: translate(-50%, -50%) rotateZ(360deg);
	}
}

@keyframes rotateccw {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}

	100% {
		transform: translate(-50%, -50%) rotate(-360deg);
	}
}

@keyframes spin {
	0%,
	100% {
		box-shadow: 0.2em 0 0 0 currentcolor;
	}

	12% {
		box-shadow: 0.2em 0.2em 0 0 currentcolor;
	}

	25% {
		box-shadow: 0 0.2em 0 0 currentcolor;
	}

	37% {
		box-shadow: -0.2em 0.2em 0 0 currentcolor;
	}

	50% {
		box-shadow: -0.2em 0 0 0 currentcolor;
	}

	62% {
		box-shadow: -0.2em -0.2em 0 0 currentcolor;
	}

	75% {
		box-shadow: 0 -0.2em 0 0 currentcolor;
	}

	87% {
		box-shadow: 0.2em -0.2em 0 0 currentcolor;
	}
}
