$primary-50: #ecf3ff;
$primary-100: #bfe0ff;
$primary-500: #3e9bff;
$primary-600: #3f8cff;
$primary-700: #3e79ea;
$primary-800: #3c67d8;
$primary-900: #3846b8;
$analogous-200: #3fecff;
$error-400: #f6515f;
$success-400: #0ac946;
$control-grey: #d8e0f0;
$text-grey: #7d8592;
$text-primary: #0a1629;
$bg-color: #f2f9ff;
$bg-grey: #e6edf5;
