@font-face {
	font-family: "Nunito Sans";
	font-weight: 400;
	font-style: normal;
	src: local("Nunito Sans Regular"), local("Nunito-Sans-Regular"),
		url("../../fonts/NunitoSans-Regular/NunitoSans-Regular.woff2") format("woff2"),
		url("../../fonts/NunitoSans-Regular/NunitoSans-Regular.woff") format("woff");
}

@font-face {
	font-family: "Nunito Sans";
	font-weight: 600;
	font-style: normal;
	src: local("Nunito Sans Regular"), local("Nunito-Sans-Regular"),
		url("../../fonts/NunitoSans-SemiBold/NunitoSans-SemiBold.woff2") format("woff2"),
		url("../../fonts/NunitoSans-SemiBold/NunitoSans-SemiBold.woff") format("woff");
}

@font-face {
	font-family: "Nunito Sans";
	font-weight: 700;
	font-style: normal;
	src: local("Nunito Sans Regular"), local("Nunito-Sans-Regular"),
		url("../../fonts/NunitoSans-SemiBold/NunitoSans-SemiBold.woff2") format("woff2"),
		url("../../fonts/NunitoSans-SemiBold/NunitoSans-SemiBold.woff") format("woff");
}

@font-face {
	font-family: "Nunito Sans";
	font-weight: 800;
	font-style: normal;
	src: local("Nunito Sans Regular"), local("Nunito-Sans-Regular"),
		url("../../fonts/NunitoSans-ExtraBold/NunitoSans-ExtraBold.woff2") format("woff2"),
		url("../../fonts/NunitoSans-ExtraBold/NunitoSans-ExtraBold.woff") format("woff");
}

body {
	font-family: "Nunito Sans", serif;
	font-size: var(--font-size);
}
