$title-font-size-x-lg: 48px;
$title-font-size-lg: 40px;
$title-font-size-x-md: 32px;
$title-font-size-md: 24px;
$title-font-size-sm: 20px;
$title-font-size-x-sm: 18px;
$text-font-size-x-lg: 20px;
$text-font-size-lg: 18px;
$text-font-size-md: 16px;
$text-font-size-sm: 14px;
$text-font-size-x-sm: 12px;
