@import "./foundation/colors";
@import "./foundation/typography";

body {
	color: $text-primary;
}

.radius {
	&_half {
		border-radius: 14px;
	}

	&_full {
		border-radius: 100%;
	}
}

.control {
	&-label {
		display: block;

		margin-bottom: 8px;

		color: $text-grey;
	}

	&-error {
		display: block;

		margin-top: 5px;

		font-size: $text-font-size-x-sm;
		font-weight: 700;
		color: $error-400;
	}
}

.Toastify {
	&__toast--success &__toast-icon svg {
		fill: $success-400;
	}

	&__progress-bar--success {
		background-color: $success-400;
	}

	&__toast--error &__toast-icon svg {
		fill: $error-400;
	}

	&__progress-bar--error {
		background-color: $error-400;
	}
}

.error-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 100vh;
}
