@import "../../../assets/styles/foundation/colors";

.btn {
	display: flex;
	align-items: center;

	width: max-content;

	font-weight: 700;
	line-height: 140%;

	transition: 0.1s ease-in-out;

	&_lg {
		height: 48px;
		padding: 13px 20px;
	}

	&_md {
		height: 38px;
		padding: 11px 18px;
	}

	&_sm {
		height: 28px;
		padding: 8px 14px;

		font-size: 14px;
	}

	&_icon {
		justify-content: center;

		width: 48px;
		height: 48px;
	}

	&_filled {
		padding-right: 14px;
		padding-left: 14px;

		background-color: #fff;
		box-shadow: 0 6px 58px rgb(196 203 214 / 10.4%);
	}

	&_filled:focus-visible {
		outline: 3px solid $control-grey;

		transition: 0s;
	}

	&_primary {
		color: #fff;

		background-color: $primary-600;
		box-shadow: 0 6px 12px rgb(63 140 255 / 26%);
	}

	&_primary:hover {
		background-color: $primary-500;
		box-shadow: 0 6px 12px rgb(62 155 255 / 42%);
	}

	&_primary:active {
		background-color: $primary-700;
		box-shadow: 0 6px 12px rgb(62 121 234 / 42%);
	}

	&_primary:focus-visible {
		background-color: $primary-700;
		outline: 3px solid $primary-500;
		box-shadow: 0 6px 12px rgb(62 121 234 / 42%);
	}

	&_outlined {
		color: $primary-600;

		background-color: #fff;
		border: 1px solid $primary-600;
		box-shadow: 0 3px 6px rgb(63 140 255 / 26%);
	}

	&_outlined:hover {
		color: $primary-500;

		border-color: $primary-500;
		box-shadow: 0 3px 6px rgb(62 155 255 / 42%);
	}

	&_outlined:active {
		color: $primary-700;

		border-color: $primary-700;
		box-shadow: 0 3px 6px rgb(62 121 234 / 42%);
	}

	&_outlined:focus-visible {
		color: $primary-700;

		border-color: $primary-700;
		outline: 3px solid $primary-500;
		box-shadow: 0 3px 6px rgb(62 121 234 / 42%);
	}

	&_primary &-spinner {
		border-color: #fff;
		border-bottom-color: transparent;
	}

	&_outlined &-spinner {
		border-color: $primary-600;
		border-bottom-color: transparent;
	}

	&-spinner {
		display: inline-block;

		box-sizing: border-box;
		width: 16px;
		height: 16px;
		margin-left: 5px;

		border: 2px solid;
		border-radius: 50%;

		animation: rotation 1s linear infinite;
	}

	&_disabled {
		pointer-events: none;

		opacity: 0.5;
	}
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
